.copied-text {
    display: inline;
    background-color: lightgreen;
    padding: 5px 10px;
    border: 1px solid lightgreen;
    margin-top: 5px;
    border-radius: 5px;
    /* width: 50px; */
  }

.accordion-button::after {
  filter: invert(1);
}
